[mysqld]
# 开启 binlog
log_bin = mysql-bin
# binlog 格式必须为 ROW
binlog_format = ROW
# 设置 server_id (必须是唯一正整数)
server_id = 1
# binlog 过期时间（可选）
expire_logs_days = 7
# 最大 binlog 大小（可选）
max_binlog_size = 100M
# 需要监听的数据库（可选）
binlog-do-db = train_db